
.head,.head-2{
    display: flex;
    column-gap:40px;
    align-items:baseline;
    justify-content: center;
    color: rgb(242, 248, 250);
    
}
.header-1,.header-2{
    text-align:center;
    color: rgb(179, 247, 7);
   
}
input[type=submit],.sub{
    color: blue;
    text-align: center;
}
body{
   background-image: url('img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width:auto;
}
